1.	Create a list of the first 10 positive integers.

In [1]:
a=(list(range(1,11)))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.	Append 11 and 12 to the list, then insert 0 at the beginning

In [3]:
a=[1,2,3,4,5,6,7,8,9]
a.append(11)
a.append(12)
a.insert(0,0)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]

3.	Remove all even numbers from the list.

In [4]:
a=(list(range(1,11)))
a=[i for i in a if i%2!=0]
print(a)

[1, 3, 5, 7, 9]


4.	Use a list comprehension to create a list of the cubes of all numbers in the list.

In [5]:
a=list(range(1,11))
a=[i**3 for i in a]
print(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

5.	Create a nested list where each sublist contains integers from 1 to 5, repeated 3 times.

In [6]:
a=[]
b=[1,2,3,4,5]
a=[b]*3
print(a)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [ ]:
6.	Use slicing to extract every second element from a list of numbers ranging from 1 to 20.

In [13]:
a=(list(range(1,20)))
b=a[::2]
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

7.	Write a function that takes a list and returns a new list with only unique elements.

8.	Create a dictionary representing a credit union employee with keys name, age, and phone 
numbers (list of numbers).

In [16]:
credit_union_employee={'name':'ravi','age':29,'phone_number':1234567890}
print(credit_union_employee)

{'name': 'ravi', 'age': 29, 'phone_number': 1234567890}

9.	Add a new key address to the dictionary.

In [20]:
a={'name':'ravi','age':29}
b={'city':'madison'}
a.update(b)
print(a)

{'name': 'ravi', 'age': 29, 'city': 'madison'}

10.	Update the member list to include two more old addresses.

In [24]:
a={'name':'ravi','age':29,'phone':1234567890}
b={'city':'madison','address':'Ridgeland'}
a.update(b)
print(a)

{'name': 'ravi', 'age': 29, 'phone': 1234567890, 'city': 'madison', 'address': 'Ridgeland'}

11.	Use items () to iterate over all key-value pairs and print them.

In [26]:
a={'name':'ravi','age':29,'phone':1234567890}
for key,value in a.items():
    print(key,":",value)

name : ravi
age : 29
phone : 1234567890

12.	Write a program to merge two dictionaries and remove duplicate keys.

In [28]:
dict1={'name':'ravi','age':29,'phone':1234567890}
dict2={'name':'ravi','address':'city'}
merge_dict=dict1 | dict2
print(merge_dict)

{'name': 'ravi', 'age': 29, 'phone': 1234567890, 'address': 'city'}

13.	Create a dictionary where the keys are numbers from 1 to 5 and the values are their squares.

In [29]:
squares_dict={num:num**2 for num in range(1,6)}
print('dictionary of squares:',squares_dict)

dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

14.	Write a function that inverts a dictionary, swapping keys and values.

15.	Create a nested dictionary to represent a federal credit unionâ€™s department, with each department containing employee names and their roles.